@model PagginationModelList<OfferViewModel>
@{
    ViewBag.Title = "Предложения";
}
@if (User.IsInRole("client")) {
@Html.Partial("_DeleteCofirmModalOffer",Model.IndexState)
}
else {
@Html.Partial("_UserOfferConfirmModal")
}

<!--Page Cover-->
<section class="row page-cover" data-bgimage="/upload/app/page-cover/offer.png">
    <div class="row m0">
        <div class="container">
            <h2 class="page-title" style="color:white;">Предложения</h2>
        </div>

    </div>
</section>
<br />





<section class="row" style="margin-top:40px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-push-9 shop-sidebar">
                <div class="row widget widget-categories">
                    <h4 class="widget-title">Сортировка</h4>
                    <ul class="nav nav-widget">
                        <li>
                            <i class="fa fa-angle-double-right"></i>
                            <a href="@Url.Link("Index", Model.IndexState, "Profile.Category.NameCategory")">
                                Категории <span class="@Html.GetSortClass(Model.IndexState, "Profile.Category.NameCategory")"></span>
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-angle-double-right"></i>
                            <a href="@Url.Link("Index", Model.IndexState, "DateOfCreate")">
                                Время создания <span class="@Html.GetSortClass(Model.IndexState, "DateOfCreate")"></span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <!---->
            @{
                var i = 0;
                var count = Model.PageList.Count;
            }
            <div class="col-md-9 col-md-pull-3 shop-content">

                <!--While-->
                @if (Model.PageList.Count > 0)
                {
                    while (i < count)
                    {
                        <div class="row">
                            @for (var j = 0; j < 3; j++, i++)
                            {
                                if (i == count)
                                {
                                    break;
                                }
                                <div class="col-sm-4 product">
                                    <div class="img-holder row">
                                        @Html.Image(Model.PageList[i].ImageName, String.Format("upload/photos/{0}", Model.PageList[i].FreelancerId), HelperImageExtension.Holder(260, 239), new { @class = "product-img" })
                                        <div style="position:absolute;width:260px;top:0px;height:30px;background-color:#00b4fa;color:white;text-align:center">
                                            <b> @Html.DisplayFor(modelItem => Model.PageList[i].DateOfCreate)</b>
                                        </div>
                                        @if (Model.PageList[i].FreelancerConfirm)
                                        {

                                            <div class="cofirmed">
                                                Подтвержден
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="notcofirmed" data-offer-id="@Model.PageList[i].Id">
                                                Не подтвержден
                                            </div>
                                        }

                                    </div>
                                    <a href="#">
                                        <h4 class="pro-title">
                                            @Html.DisplayFor(modelItem => Model.PageList[i].NameCategory)
                                        </h4>
                                    </a>
                                    <div>
                                        <span class="glyphicon glyphicon-user"></span>
                                        @if (User.IsInRole("freelancer"))
                                        {
                                            @Html.DisplayFor(modelItem => Model.PageList[i].UserName)
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => Model.PageList[i].FreelancerName)
                                        }
                                    </div>
                                    <div>
                                        <span class="glyphicon glyphicon-time"></span>
                                        @Html.DisplayFor(modelItem => Model.PageList[i].Time)
                                    </div>

                                    <div>
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        @Html.DisplayFor(modelItem => Model.PageList[i].Date)

                                    </div>
                                    <div>
                                        <span class="glyphicon glyphicon-phone-alt"></span>

                                        @Html.DisplayFor(modelItem => Model.PageList[i].PhoneNumber)
                                    </div>

                                    <p class="pro-about">@Html.DisplayFor(modelItem => Model.PageList[i].Description)</p>


                                    <div class="row">
                                        <div class="col-md-5">
                                            @if (Model.PageList[i].FileName != null)
                                            {
                                                @Html.ActionLinkWithImage("", "GetFile", "Profile", "glyphicon glyphicon-paperclip", new { fileName = Model.PageList[i].FileName, Model.PageList[i].FreelancerId }, new { @class = "btn btn-md btn-success" })
                                            }
                                        </div>
                                        <!--Dropdown-->

                                        <div class="btn-group col-md-7">
                                            <div class="pull-right">
                                                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                </button>

                                                <ul class="dropdown-menu ">
                                                    @if (User.IsInRole("client"))
                                                    {
                                                        <li>
                                                            <a href="#" data-item-id="@Model.PageList[i].Id" data-toggle="modal" data-target="#DeleteModal">
                                                                <span class="glyphicon glyphicon-trash"></span> Удалить
                                                            </a>

                                                        </li>
                                                    }
                                                    else if (User.IsInRole("freelancer"))
                                                    {
                                                        <li>
                                                            <a href="#" data-confim="freelancer"
                                                               data-confirm-description="@Model.PageList[i].Description"
                                                               data-confirm-DateOfCreate="@Model.PageList[i].DateOfCreate"
                                                               data-confirm-UserId="@Model.PageList[i].UserId"
                                                               data-confirm-ProfileId="@Model.PageList[i].ProfileId"
                                                               data-confirm-date="@Model.PageList[i].Date"
                                                               data-off-id ="@Model.PageList[i].Id"
                                                               data-offer-confim="#ConfirmOffer">
                                                                Подтвердить
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>

                                        <!--Drop-->
                                    </div>
                                </div>
                            }
                        </div>                 <!--While-->
                            }
                            }
                            else
                            {
                            <h4>Список предложений пуст :(</h4>
                            }
                        
                    </div>
            <!---->
                </div>
            </div>
        </section>

<br />






  

<section class="row">
    <div class="col-md-11 col-md-offset-1 col-xs-12 ">
        <div class="pull-left">
            @Html.PagedListPager(Model.PageList, page => Url.ActionToPage("Index", Model.IndexState, page))
        </div>
    </div>
</section>
<br />

    @section Scripts {
        @Scripts.Render("~/bundles/OfferConfirmed")
    }
