@model PagginationModelList<CategoryViewModel>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}

<h2>Категории</h2>

<hr />
<div class="row">
    <div class="col-xs-12 col-md-3">
        @Html.ActionLinkWithImage("Создать категорию", "Create", "Category", "glyphicon glyphicon-plus", Model.IndexState, new { @class = "btn btn-md btn-primary" })
    </div>
    <div class="col-xs-12 col-md-9">
    <a href="@Url.Link("Index", Model.IndexState, "NameCategory")" class="btn btn-default btn-md active">
        Сортировка:Категории <span class="@Html.GetSortClass(Model.IndexState, "NameCategory")"></span>
    </a>
    </div>
</div>
<hr />
<!------->
@Html.Partial("_DeleteCofirmModalPartial", Model.IndexState)
@foreach (var item in Model.PageList)
{
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-xs-12 ">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    @Html.Image(item.ImageName, "upload/app", HelperImageExtension.Holder(64, 73), new { width = 64, height = 73 })
                </div>
                <div class="col-md-6 col-xs-12">
                    <h4>@Html.DisplayFor(modelItem => item.NameCategory)</h4>
                    <p>@Html.DisplayFor(modelItem => item.DescriptionCategory)</p>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="btn-group">
                        <button class="btn btn-default btn-md dropdown-toggle" type="button" data-toggle="dropdown">
                            Выбрать действие <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLinkWithImage("Редактировать", "Edit", "Category", "glyphicon glyphicon-edit", new { id = item.CategoryId, indexState = Model.IndexState }, new { })</li>
                            <li class="divider"></li>
                            <li>
                                <a href="#" data-category-id=@item.CategoryId data-toggle="modal" data-target="#DeleteModal">
                                    <span class="glyphicon glyphicon-trash"></span> Удалить
                                </a>
                                @*@Html.ActionLinkWithImage("Удалить", "#", "", "glyphicon glyphicon-trash", new { }, new { data_category_id = item.CategoryId, data_toggle = "modal", data_target = "#DeleteModal" })*@
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <br />
}
<!------->




<br />
    Страница @(Model.PageList.PageCount < Model.PageList.PageNumber ? 0 : Model.PageList.PageNumber) из @Model.PageList.PageCount

    @Html.PagedListPager(Model.PageList, page => Url.ActionToPage("Index", Model.IndexState, page))


    @section Scripts {
        <script type="text/javascript">
            $(function () {


                $('a[data-toggle="modal"]').on('click', function (e) {

                    var deleteCategoryId = $(this).attr('data-category-id');
                    $('input[name="id"]').val(deleteCategoryId);
                });


            });
        </script>
    }