@model PagginationModelList<ProfileViewModel>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "My profiles";
}
@Html.Partial("_DeleteCofirmModalProfile", Model.IndexState)
<h2>Мои профили</h2>

<hr/>
<div class="row">
    <div class="col-xs-12 col-md-2">
        @Html.ActionLinkWithImage("Создать профиль", "Create", "Profile", "glyphicon glyphicon-plus", Model.IndexState, new { @class = "btn btn-md btn-primary" })
    </div>
    <div class="col-xs-12 col-md-3">
        <a href="@Url.Link("FreelancerProfiles", Model.IndexState, "Category.NameCategory")" class="btn btn-default btn-md active">
            Сортировка:Категории <span class="@Html.GetSortClass(Model.IndexState, "Category.NameCategory")"></span>
        </a>
    </div>
    <div class="col-xs-12 col-md-3">
        <a href="@Url.Link("FreelancerProfiles", Model.IndexState, "TimeFrom")" class="btn btn-default btn-md active">
            Сортировка:Время <span class="@Html.GetSortClass(Model.IndexState, "TimeFrom")"></span>
        </a>
    </div>
</div>
<hr/>


        @if (Model.PageList.Count > 0)
        {
            foreach (var item in Model.PageList)
            {
                
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 col-xs-12 profile">
                        <div class="row profileline">
                            <div class="col-md-3 col-xs-12" data-toggle="tooltip" data-placement="bottom" title="@item.CategoryDescription">
                                <h4> @Html.DisplayFor(modelItem => item.CategoryName)</h4>
                            </div>
                            <div class="col-md-9 col-xs-12 text-right profiletime">
                                <span class="glyphicon glyphicon-time"></span>
                                <b>
                                    @Html.DisplayFor(modelItem => item.TimeAvailability)
                                </b>
                            </div>
                        </div>
                        <div class="row profilebody">
                           @Html.Partial("_ProfileViewModelPartial",item)

                            <div class="col-md-3 col-xs-12 eq">

                                <div class="btn-group">
                                    <button class="btn btn-default btn-md dropdown-toggle" type="button" data-toggle="dropdown">
                                        Выбрать действие <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLinkWithImage("Редактировать", "Edit", "Profile", "glyphicon glyphicon-edit", new { id = item.Id, Page = Model.IndexState.Page, SortAscending = Model.IndexState.SortAscending, SortProperty = Model.IndexState.SortProperty }, new { })</li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#" data-profile-id=@item.Id data-toggle="modal" data-target="#DeleteModal">
                                                <span class="glyphicon glyphicon-trash"></span> Удалить
                                            </a>

                                        </li>
                                    </ul>

                                </div>

                            </div>
                            
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h4>Список профилей пуст</h4>
        }




<br />
Страница @(Model.PageList.PageCount < Model.PageList.PageNumber ? 0 : Model.PageList.PageNumber) из @Model.PageList.PageCount

@Html.PagedListPager(Model.PageList, page => Url.ActionToPage("FreelancerProfiles", Model.IndexState, page))


@section Scripts {
@Scripts.Render("~/bundles/Profile")
}

