@model PagginationModelList<ProfileViewModel>


@{
    ViewBag.Title = "Index";
}

@Html.Partial("_OfferCreatePartial")
<div class="page-header">
    <h1>Профили</h1>
</div>

<div class="row">
    <div class="col-lg-3 col-xs-12">
        @Html.Partial("_FilterMenuPartial", Model.IndexState)
    </div>
    <div class="col-lg-9 col-xs-12">
        @if (Model.PageList.Count > 0)
        {

            <div class="row">
                <div class="col-md-2 col-xs-12">
                    <a href="@Url.Link("Index", Model.IndexState, "Category.NameCategory")" class="btn btn-default btn-xs active" role="button">
                        <span class="@Html.GetSortClass(Model.IndexState, "Category.NameCategory")"></span> Категории
                    </a>
                </div>
                <div class="col-md-2 col-xs-12">
                    <a href="@Url.Link("Index", Model.IndexState, "TimeFrom")" class="btn btn-default btn-xs active" role="button">
                        <span class="@Html.GetSortClass(Model.IndexState, "TimeFrom")"></span> Время доступности
                    </a>
                </div>
            </div>
            <hr />
            foreach (var item in Model.PageList)
            {


                <div class="row">
                    <div class="col-md-12 col-xs-12 profile">
                        <div class="row profileline">
                            <div class="col-md-3 col-xs-12" data-toggle="tooltip" data-placement="bottom" title="@item.CategoryDescription">
                                <h4> @Html.DisplayFor(modelItem => item.CategoryName)</h4>
                            </div>
                            <div class="col-md-9 col-xs-12 text-right profiletime">
                                <span class="glyphicon glyphicon-time"></span>
                                <b>
                                    @Html.DisplayFor(modelItem => item.TimeAvailability)
                                </b>
                            </div>
                        </div>

                        <div class="row profilebody">
                            @Html.Partial("_ProfileViewModelPartial", item)

                            <div class="col-md-3 col-xs-12 eq">
                                <button class="btn btn-success btn-sm pull-right" data-offer-modal="#OfferCreate"
                                        data-time-from-h="@item.TimeFrom.Hours"
                                        data-time-from-m="@item.TimeFrom.Minutes"
                                        data-time-to-h="@item.TimeTo.Hours"
                                        data-time-to-m="@item.TimeTo.Minutes"
                                        data-profile-id="@item.Id">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Бронировать
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
           
            }
        }
        else
        {
            <h4>Список профилей пуст</h4>
        }
</div>
    </div>
        <br />
        Страница @(Model.PageList.PageCount < Model.PageList.PageNumber ? 0 : Model.PageList.PageNumber) из @Model.PageList.PageCount

        @Html.PagedListPager(Model.PageList, page => Url.ActionToPage("Index", Model.IndexState, page))


@section Scripts {
    @Scripts.Render("~/bundles/Profile")
}





